pydantic>=2.8
langchain==0.2.12
langchain-core==0.2.29
langchain-openai==0.1.19
langchain-community==0.2.11
langchain-ollama==0.1.1
langchain-google-genai>=1.0.8
langchain-experimental
langgraph>=0.2.1
streamlit==1.37
extra-streamlit-components>=0.1.71
google-auth-oauthlib
google-api-python-client
python-dotenv==1.0.1
cryptography>=43.0