pydantic~=2.8
langchain~=0.2
langchain-core~=0.2
langchain-openai~=0.1
langchain-community~=0.2
langchain-ollama~=0.1, >=0.1.1
langchain-google-genai~=1.0.8
langchain-experimental
langgraph~=0.2
streamlit~=1.37
extra-streamlit-components~=0.1.71
google-auth-oauthlib~=1.2
google-api-python-client~=2.140
python-dotenv~=1.0.1
cryptography~=43.0