pydantic~=2.8
fastapi~=0.112
python-multipart
uvicorn~=0.30
redis~=5.0
langchain~=0.2
langchain-openai~=0.1.22
langchain-text-splitters~=0.2
langchain-experimental
sqlalchemy==2.0.32
psycopg2==2.9.9
asyncpg==0.29.0
cryptography~=43.0.1
pyjwt~=2.9
pgvector
llama-index~=0.11.12
llama-index-core~=0.11.12
llama-index-embeddings-openai==0.2.5
llama-index-storage-docstore-postgres
llama-index-vector-stores-postgres
